<h4 class="list-group-item-title">
    {{name}}
    {{#if required}}
        <small class="text-danger">required</small>
    {{/if}}
</h4>
<p>
    <span class="text-primary">{{type}}</span>
    {{#if default}}
        , <span class="text-info">default: {{default}}</span>
    {{/if}}
    {{#if requires}}
        , <span class="text-danger">requires {{requires}}</span>
    {{/if}}
</p>
<p>{{yield}}</p>