<div class="datepicker datepicker-inline">
    {{#if viewingDays}}
        <div class="datepicker-days" style="display: block;">
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th {{action "changeMonth" -1}} class="prev"><span class="fa fa-angle-left"></span></th>
                        <th {{action "setView" "months"}} colspan="5" class="datepicker-switch">{{currentMonthString}} {{currentYear}}</th>
                        <th {{action "changeMonth" 1}}class="next"><span class="fa fa-angle-right"></span></th>
                    </tr>
                    <tr>
                        {{#each day in shortWeekDayNames}}
                            <th class="dow">{{day}}</th>
                        {{/each}}
                    </tr>
                </thead>
                <tbody>
                    {{#each week in weeksInMonthView}}
                        <tr>
                            {{#each day in week}}
                                {{sl-calendar-day action="sendDateContent" active=day.active content=day.content day=day.day new=day.new old=day.old}}
                            {{/each}}
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if viewingMonths}}
        <div class="datepicker-months" style="display: block;">
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th {{action "changeYear" -1}} class="prev" style="visibility: visible;"><span class="fa fa-angle-left"></span></th>
                        <th {{action "setView" "years"}} colspan="5" class="datepicker-switch">{{currentYear}}</th>
                        <th {{action "changeYear" 1}} class="next" style="visibility: visible;"><span class="fa fa-angle-right"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">
                            {{#each month in monthsInYearView}}
                                {{sl-calendar-month action="setMonth" active=month.active month=month.month}}
                            {{/each}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if viewingYears}}
        <div class="datepicker-years" style="display: block;">
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th {{action "changeDecade" -1}} class="prev" style="visibility: visible;"><span class="fa fa-angle-left"></span></th>
                        <th colspan="5" class="datepicker-switch">{{decadeStart}}-{{decadeEnd}}</th>
                        <th {{action "changeDecade" 1}} class="next" style="visibility: visible;"><span class="fa fa-angle-right"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">
                            {{#each year in yearsInDecadeView}}
                                {{sl-calendar-year action="setYear" active=year.active old=year.old new=year.new year=year.year}}
                            {{/each}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {{/if}}
</div>
