<div class="datepicker datepicker-inline">
    {{#if viewingDays}}
        <div class="datepicker-days" style="display: block;">
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th {{action "changeMonth" -1}} class="prev"><span class="fa fa-angle-left"></span></th>
                        <th {{action "setView" "months"}}colspan="5" class="datepicker-switch">{{currentMonthString}} {{currentYear}}</th>
                        <th {{action "changeMonth" 1}}class="next"><span class="fa fa-angle-right"></span></th>
                    </tr>
                    <tr>
                        <th class="dow">Su</th>
                        <th class="dow">Mo</th>
                        <th class="dow">Tu</th>
                        <th class="dow">We</th>
                        <th class="dow">Th</th>
                        <th class="dow">Fr</th>
                        <th class="dow">Sa</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each week in weeksInMonthView}}
                        <tr>
                            {{#each day in week}}
                                {{sl-calendar-day action="sendDateContent" active=day.active content=day.content day=day.day new=day.new old=day.old}}
                            {{/each}}
                        </tr>
                    {{/each}}

                    {{!
                    <tr>
                        <td class="old day">29</td>
                        <td class="old day">30</td>
                        <td class="day">1</td>
                        <td class="day">2</td>
                        <td class="day">3</td>
                        <td class="day">4</td>
                        <td class="day">5</td>
                    </tr>
                    <tr>
                        <td class="day">6</td>
                        <td class="day">7</td>
                        <td class="day">8</td>
                        <td class="day">9</td>
                        <td class="day">10</td>
                        <td class="day">11</td>
                        <td class="day">12</td>
                    </tr>
                    <tr>
                        <td class="day">13</td>
                        <td class="day">14</td>
                        <td class="day">15</td>
                        <td class="day">16</td>
                        <td class="day">17</td>
                        <td class="day">18</td>
                        <td class="day">19</td>
                    </tr>
                    <tr>
                        <td class="day">20</td>
                        <td class="day">21</td>
                        <td class="day">22</td>
                        <td class="day">23</td>
                        <td class="day">24</td>
                        <td class="active day">25</td>
                        <td class="day">26</td>
                    </tr>
                    <tr>
                        <td class="day">27</td>
                        <td class="day">28</td>
                        <td class="day">29</td>
                        <td class="day">30</td>
                        <td class="day">31</td>
                        <td class="new day">1</td>
                        <td class="new day">2</td>
                    </tr>
                    <tr>
                        <td class="new day">3</td>
                        <td class="new day">4</td>
                        <td class="new day">5</td>
                        <td class="new day">6</td>
                        <td class="new day">7</td>
                        <td class="new day">8</td>
                        <td class="new day">9</td>
                    </tr>
                    }}
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if viewingMonths}}
        <div class="datepicker-months" style="display: block;">
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th {{action "changeYear" -1}} class="prev" style="visibility: visible;"><span class="fa fa-angle-left"></span></th>
                        <th {{action "setView" "years"}} colspan="5" class="datepicker-switch">{{currentYear}}</th>
                        <th {{action "changeYear" 1}} class="next" style="visibility: visible;"><span class="fa fa-angle-right"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">
                            {{#each month in monthsInYearView}}
                                {{sl-calendar-month action="setMonth" active=month.active month=month.month}}
                            {{/each}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {{/if}}

    {{#if viewingYears}}
        <div class="datepicker-years" style="display: block;">
            <table class="table-condensed">
                <thead>
                    <tr>
                        <th {{action "changeDecade" -1}} class="prev" style="visibility: visible;"><span class="fa fa-angle-left"></span></th>
                        <th colspan="5" class="datepicker-switch">{{decadeStart}}-{{decadeEnd}}</th>
                        <th {{action "changeDecade" 1}} class="next" style="visibility: visible;"><span class="fa fa-angle-right"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="7">
                            {{#each year in yearsInDecadeView}}
                                {{sl-calendar-year action="setYear" active=year.active old=year.old new=year.new year=year.year}}
                            {{/each}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {{/if}}
</div>