{{#sl-button class="dropdown-toggle" data-toggle="dropdown" size=size type="button"}}
    {{#if view.label}}
        {{view.label}}
        <span {{bind-attr class=iconClass}}></span>
    {{else}}
        {{yield}}
    {{/if}}
{{/sl-button}}

<ul {{bind-attr class=":dropdown-menu alignRight:dropdown-menu-right"}} role="menu">
    {{#if content}}
        {{#each content}}
            {{#if divider}}
                {{sl-drop-option}}
            {{else}}
                <a {{action "click" action}} role="menuitem" tab-index="-1">
                    {{#if icon}}
                        <img {{bind-attr src=icon}}/>
                    {{/if}}

                    {{label}}
                </a>
            {{/if}}
        {{/each}}
    {{else}}
        {{yield}}
    {{/if}}
</ul>