<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
    {{#if view.label}}
        {{view.label}}
        <span {{bind-attr class=iconClass}}></span>
    {{else}}
        {{yield}}
    {{/if}}
</button>

<ul {{bind-attr class=":dropdown-menu alignRight:dropdown-menu-right"}} role="menu">
    {{#each option in view.content}}
        {{#if option.label}}
            <li class="presentation">
            <a {{action "click" option.action}} role="menuitem" tab-index="-1">
                {{#if option.icon}}
                    <img {{bind-attr src=option.icon}}/>
                {{/if}}
                {{option.label}}
            </a>

            </li>
        {{else}}
            <li class="divider"></li>
        {{/if}}
    {{/each}}
</ul>
