<header class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        {{sl-pagination-info pagingData=pagingData 
            pagingInfo=translations.pagination.paginationLabel}}
        {{sl-pagination-per-page-select 
            displaying=translations.pagination.displaying
            perPage=translations.pagination.paginationPerPage
            action='changePerPage' 
            perPageOptions=pagingData.perPageOptions 
            itemCountPerPage=pagingData.itemCountPerPage}}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
        {{sl-pagination-controls 
            action="changePage" 
            disabled=isLoading 
            currentPage=pagingData.currentPage 
            totalPages=pagingData.totalPages}}
        <a {{bind-attr class=":btn :btn-default" title="reloadTitle" }}i {{action "reload"}}><i class="fa fa-refresh"></i></a>
        {{sl-grid-header-settings action="bubbleAction" settings=options.settingsMenu columns=columns}}
    </div>
</header>
<table class="table table-stripped">
    <thead>
        <tr>
            {{#if options.rowExpander}}
                <th class="sl-grid-table-cell-row-expander">&nbsp;</th>
            {{/if}}
            {{#each column in columns}}
                {{#unless column.hidden}}
                    {{sl-grid-table-header action="sortColumn" column=column}} 
                    {{#unless column.noResize}}
                        {{sl-grid-table-column-resize column=column header=true disabled=isLoading}}
                    {{/unless}}
                {{/unless}}
            {{/each}}
            {{#if options.actionsColumn}}
                <th class="sl-grid-table-cell-actions">&nbsp;</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
    {{#if isLoading}}
        <tr>
            <td {{bind-attr class=":loadingIndicator" colspan=columnCount}}>
                <img src="/images/spinner_48.gif"/>
            </td>
        </tr>
    {{else}}
        {{#each row in rows}}
            <tr>
                {{#if options.rowExpander}}
                    {{sl-grid-table-cell-row-expander row=row}}
                {{/if}}
                    {{#each column in columns}}
                        {{#unless column.hidden}}
                            {{#if column.component}}
                               {{render-component column.component cssClass=column.cssClass column=column row=row}}
                            {{else}}
                                {{#sl-grid-table-cell cssClass=column.cssClass}}
                                    {{get-key row column.key column.defaultText}}
                                {{/sl-grid-table-cell}}
                            {{/if}}
                            {{#unless column.noResize}}
                                {{sl-grid-table-column-resize column=column
                                disabled=isLoading}}
                            {{/unless}}
                        {{/unless}}
                    {{/each}}
                {{#if options.actionsColumn}}
                <td class="sl-grid-table-cell-actions">
                    {{sl-drop-button label="Actions" alignRight=true content=row.actionsButton}}
                </td>
                {{/if}}
            </tr>
            {{#if options.rowExpander}}
                {{#if row.rowExpanderIsOpen}}
                    {{#sl-grid-table-row-expander row=row columnCount=columnCount}}
                        {{render-component row.rowExpanderComponent options=options device=row}}
                    {{/sl-grid-table-row-expander}}
                {{/if}}
            {{/if}}
        {{else}}
            <tr>
                <td>No data found</td>
            </tr>
        {{/each}}
    {{/if}}
    </tbody>
</table>
