<header class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        {{sl-grid-header-info pagingData=pagingData}}
        {{sl-grid-header-per-page-select perPageOptions=perPageOptions itemCountPerPage=itemCountPerPage}}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
        {{sl-pagination action="changePage" disabled=isLoading currentPage=currentPage totalPages=pagingData.totalPages}}
        {{sl-grid-header-reload action="reload"}}
        {{sl-grid-header-settings action="bubbleAction" settings=options.settingsMenu columns=columns}}
    </div>
</header>
<table {{bind-attr class=":table view.striped:table-striped"}}>
    <thead>
        {{#sl-grid-table-row}}
            {{#if options.rowExpander}}
                <th>&nbsp;</th>
            {{/if}}
            {{#each column in columns}}
                {{#unless column.hidden}}
                    {{sl-grid-table-header column=column}} 
                    {{#unless column.noResize}}
                        {{sl-grid-table-column-resize header=true}}
                    {{/unless}}
                {{/unless}}
            {{/each}}
            {{#if options.actionsColumn}}
                <th>&nbsp;</th>
            {{/if}}
        {{/sl-grid-table-row}}
    </thead>
    <tbody>
    {{#if isLoading}}
        <tr>
            <td {{bind-attr class=":loadingIndicator" colspan=columnCount}}>
                <img src="/images/spinner_48.gif"/>
            </td>
        </tr>
    {{else}}
        {{#each row in rows}}
            {{#sl-grid-table-row}}
                {{#if options.rowExpander}}
                    {{sl-grid-table-cell-row-expander}}
                {{/if}}
                {{#each column in columns}}
                    {{#unless column.hidden}}
                        {{#if column.template}}
                            <td> renderTemplate column.template column</td>
                        {{else}}
                            {{#sl-grid-table-cell}}
                                {{get-key row column.key}}
                            {{/sl-grid-table-cell}}
                        {{/if}}
                        {{#unless column.noResize}}
                            {{sl-grid-table-column-resize}}
                        {{/unless}}
                    {{/unless}}
                {{/each}}
                {{#if options.actionsColumn}}
                    {{sl-grid-table-cell-actions actions=row.actions}}
                {{/if}}
            {{/sl-grid-table-row}}
            {{#if options.rowExpander}}
                {{#sl-grid-table-row-expander columnCount=columnCount}}
                renderTemplate column.expandedRowTemplate row.expandedRowData
                {{/sl-grid-table-row-expander}}
            {{/if}}
        {{else}}
            <tr>
                <td>No data found</td>
            </tr>
        {{/each}}
    {{/if}}
    </tbody>
</table>
