<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
    <i class="fa fa-cog"></i> <span class="caret"></span>
</button>

<ul class="dropdown-menu dropdown-menu-right" role="menu">
    {{#if showActions}}
        <li class="text-center" role="presentation">{{sl-translate key=translationKeys.actions}}</li>
        <li role="presentation" class="divider"></li>
        {{#each entry in clickableActions}}
            <li class="text-center" role="presentation" >
                {{#if entry.action}}
                    <a {{action "click" entry.action}} role="menuitem" tab-index="-1">
                        {{#if entry.icon}}
                            <img {{bind-attr src=entry.icon}}/>
                        {{/if}}
                        {{sl-translate key=entry.label}}
                    </a>
                {{else}}
                    {{sl-translate key=entry.label}}
                {{/if}}
            </li>
        {{/each}}
        <li role="presentation" class="divider"></li>
    {{/if}}

    {{#if showColumns}}
        <li class="text-center" role="presentation">{{sl-translate key=translationKeys.columns}}</li>
        <li role="presentation" class="divider"></li>
        <li  class="text-center" role="presentation">
            <a role="menuitem" {{action "click" "resetColumns"}}>
                {{sl-translate key=translationKeys.resetColumnsToDefaults}}
            </a>
        </li>
        {{#each column in hideableColumns}}
            <li role="presentation" class="hideableColumn stay-open">
                {{#if column.action}}
                    <label {{action "click" column.action column.key}}>
                        {{view view.columnCheckbox column=column}}
                        {{sl-translate key=column.label}}
                    </label>
                {{else}}
                    {{sl-translate key=column.label}}
                {{/if}}
            </li>
        {{/each}}
    {{/if}}
</ul>
