<header class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        {{sl-grid-header-info pagingData=pagingData}}
        {{sl-grid-header-per-page-select perPageOptions=perPageOptions itemCountPerPage=itemCountPerPage}}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
        {{sl-grid-header-paging currentPageInput=currentPageInput}}
        {{sl-grid-header-reload}}
        {{sl-grid-header-settings}}
    </div>
</header>
<table {{bind-attr class=":table view.striped:table-striped"}}>
    <thead>
        {{#sl-grid-table-row}}
            {{#if options.rowExpander}}
                <th>&nbsp;</th>
            {{/if}}
            {{#each column in columns}}
                {{sl-grid-table-header column=column}}
                {{#unless column.noResize}}
                    {{sl-grid-table-column-resize header=true}}
                {{/unless}}
            {{/each}}
            {{#if options.actionsColumn}}
                <th>&nbsp;</th>
            {{/if}}
        {{/sl-grid-table-row}}
    </thead>
    <tbody>
    {{#if isLoading}}
        <tr>
            <td {{bind-attr class=":loadingIndicator" colspan=columnCount}}>
                <img src="/images/spinner_48.gif"/>
            </td>
        </tr>
    {{else}}
        {{#each row in rows}}
            {{!--
            {{#sl-grid-table-row}}
                {{#if options.rowExpander}}
                    {{sl-grid-table-row-expander}}
                {{/if}}
                {{#each column in columns}}
                    {{#if column.key}}
                        {{#sl-grid-table-cell}}
                            {{get-key row column.key}}
                        {{/sl-grid-table-cell}}
                    {{else}}
                        {{#if column.template}}
                        <td> renderTemplate column.template column</td>
                        {{/if}}
                    {{/if}}
                    {{#unless column.noResize}}
                        {{sl-grid-table-column-resize}}
                    {{/unless}}
                {{/each}}
                {{#if options.actionsColumn}}
                    {{sl-grid-table-cell-actions actions=row.actions}}
                {{/if}}
            {{/sl-grid-table-row}}
            --}}
            {{#if options.rowExpander}}
                {{#sl-grid-table-expanded-row}}
                renderTemplate column.expandedRowTemplate row.expandedRowData
                {{/sl-grid-table-expanded-row}}
            {{/if}}
        {{else}}
            <tr>
                <td>No data found</td>
            </tr>
        {{/each}}
    {{/if}}
    </tbody>
</table>
