{{#if menu.label}}
    {{#if menu.items}}
        <a href="#" class="submenu" {{action "selected" target="view" bubbles=false}}>{{view.menu.label}}</a>
    {{else}}
        <a href="#" {{action "selected" target="view" bubbles=false}}>{{view.menu.label}}</a>
    {{/if}}
{{/if}}

{{#if menu.items}}
    <ul {{bind-attr class="view.isRoot:list-inline"}}>
        {{#each item in menu.items}}
            {{sl-menu tagName="li" menuBinding="item" isRoot=false}}
        {{/each}}
    </ul>
{{/if}}
