<span class="sl-pagnation-links">
    <ul class="pagination">
        <li {{bind-attr class="firstLinkDisabled:disabled"}}><a  {{action "changePage" "first"}} class="first-page" title="First page"><span class="fa fa-angle-double-left"></span></a></li>
        <li {{bind-attr class="prevLinkDisabled:disabled"}} ><a {{action "changePage" "prev"}} class="previous-page" title="Previous page"><span class="fa fa-angle-left"></span></a></li>
    </ul>
</span>

<span class="sl-pagination-input form-inline">
        <div class="form-group">
            Page {{sl-input action="changePage" disabled=disabled value=currentPageInput}} of {{totalPages}}
        </div>
</span>

<span class="sl-pagination-links">
    <ul class="pagination">
        <li {{bind-attr class="nextLinkDisabled:disabled"}}><a  {{action "changePage" "next"}} class="next-page" title="Next page"><span class="fa fa-angle-right"></span></a></li>
        <li {{bind-attr class="lastLinkDisabled:disabled"}}><a {{action "changePage" "last"}} class="last-page" title="Last page"><span class="fa fa-angle-double-right"></span></a></li>
    </ul>
</span>
