{{#if label}}
    <label>
        {{label}}

        {{#if optional}}
            <small class="text-info">Optional</small>
        {{/if}}

        {{#if required}}
            <small class="text-danger">Required</small>
        {{/if}}
    </label>
{{/if}}

{{#each option in content}}
    {{#if inline}}
        <label class="radio-inline" {{bind-attr class=":radio-inline"}}>
    {{else}}
        <div class="radio">
            <label>
    {{/if}}

    <input {{action "change" option.value on="change"}} {{bind-attr disabled=option.disabled name=view.name readonly=view.readonly value=option.value}} type="radio" />
    {{option.label}}

    {{#if inline}}
        </label>
    {{else}}
            </label>
        </div>
    {{/if}}
{{/each}}
