<header class="grid-header">
    <div class="row">
        <div class="col-sm-6">
            {{#if view.headerTemplate}}
                <h3 class="title">
                    {{partial view.headerTemplate}}
                </h3>
            {{/if}}
        </div>

        {{#if filterName}}
            <div class="col-sm-6 text-right">
                {{#sl-button action="toggleFilterPane" size="small"}}{{filterText}}{{/sl-button}}
            </div>
        {{/if}}
    </div>
</header>

{{#if filterOpen}}
    <div class="filter-pane">
        <div class="filter-content">
            {{split-grid-filter}}
        </div>
    </div>
{{/if}}

<div class="list-pane">
    <table class="table column-headers">
        <thead>
            <tr>
                {{#each column in columns itemController="sl-split-grid-column"}}
                    <th {{action "columnHeaderClick" on="click"}} {{bind-attr class="column.alignmentClass column.primary:primary-column column.sizeClass column.sortable:sortable-column column.sortedClass" style=column.style}}>
                        {{column.title}}
                        {{#if column.sortable}}
                            <i {{bind-attr class=":fa column.sortIconClass"}}></i>
                        {{/if}}
                    </th>
                {{/each}}

                {{#if rowActions}}
                    <th {{bind-attr style=actionsColumnStyle}} class="actions-cell"></th>
                {{/if}}
            </tr>
        </thead>
    </table>

    <div class="content">
        <table class="table table-hover table-striped">
            <tbody>
                {{#each row in content itemController=rowController}}
                    <tr {{bind-attr class="row.active:active row.classString"}}>
                        {{#each column in columns itemController="sl-split-grid-column"}}
                            <td {{action "openDetailsPane" row on="click"}} {{bind-attr class="column.alignmentClass column.primary:primary-column column.sizeClass" style=column.style}}>
                                {{split-grid-cell}}
                            </td>
                        {{/each}}

                        {{#if view.rowActions}}
                            <td {{bind-attr style=actionsColumnStyle}} class="actions-cell">
                                {{#sl-drop-button align="right" label=actionsButtonLabel size="small" theme="hover"}}
                                    {{#each rowAction in view.rowActions}}
                                        {{sl-drop-option action=rowAction.action label=rowAction.label}}
                                    {{/each}}
                                {{/sl-drop-button}}
                            </td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <footer>
        <div class="row">
            <div class="col-xs-6">
                {{#if view.listFooterTemplate}}
                    {{partial view.listFooterTemplate}}
                {{/if}}
            </div>
            <div class="col-xs-6 text-right">
                {{#if pendingData}}
                    {{sl-loading-icon}}
                {{/if}}
            </div>
        </div>
    </footer>
</div>

<div class="detail-pane">
    <header>
        {{#if view.detailHeaderTemplate}}
            <span class="title">
                {{split-grid-detail-header}}
            </span>
        {{/if}}

        <button {{action "closeDetailsPane"}} class="close">&times;</button>
    </header>

    <div class="content">
        <div class="detail-content">
            {{split-grid-detail-content}}
        </div>
    </div>

    {{#if view.detailFooterTemplate}}
        <footer>
            {{split-grid-detail-footer}}
        </footer>
    {{/if}}
</div>
