<header>
    <div class="row">
        <div class="col-sm-6">
            {{#if view.title}}
                <span class="title">{{view.title}}</span>
            {{/if}}
        </div>

        {{#if filterTemplate}}
            <div class="col-sm-6 text-right">
                {{#sl-button action="toggleFilterPane"}}{{filterText}}{{/sl-button}}
            </div>
        {{/if}}
    </div>
</header>

{{#if filterOpen}}
    <div class="sl-split-grid-filter-pane">
        <div class="filter-content">
            {{split-grid-filter}}
        </div>
    </div>
{{/if}}

<div class="sl-split-grid-list-pane">
    <table class="table sl-split-grid-head">
        <thead>
            <tr>
                {{#each column in columns itemController="sl-split-grid-column"}}
                    <th {{bind-attr class="column.sizeClass"}}>{{column.title}}</th>
                {{/each}}

                {{#if rowActions}}
                    <th {{bind-attr style=actionsColumnStyle}}></th>
                {{/if}}
            </tr>
        </thead>
    </table>

    <div class="sl-split-grid-body content">
        <table class="table table-hover table-striped">
            <tbody>
                {{#each row in content itemController="sl-split-grid-row"}}
                    <tr {{bind-attr class="row.active:active"}}>
                        {{#each column in columns itemController="sl-split-grid-column"}}
                            <td {{action "openDetailsPane" row on="click"}} {{bind-attr class="column.sizeClass" style=column.style}}>
                                {{split-grid-cell-value}}
                            </td>
                        {{/each}}

                        {{#if rowActions}}
                            <td {{bind-attr style=actionsColumnStyle}}>
                                {{#sl-drop-button label=actionsButtonLabel size="sm"}}
                                    {{#each rowAction in rowActions}}
                                        {{sl-drop-option action=rowAction.action label=rowAction.label}}
                                    {{/each}}
                                {{/sl-drop-button}}
                            </td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

{{#if detailsOpen}}
    <div class="sl-split-grid-detail-pane">
        <header>
            <span class="title">{{detailTitle}}</span>
            <a {{action "closeDetailsPane"}} class="btn close-button">&times;</a>
        </header>

        <div class="content">
            <div class="detail-content">
                {{#with activeRecord}}
                    {{split-grid-detail-content}}
                {{/with}}
            </div>
        </div>
    </div>
{{/if}}
