<header class="sl-split-grid-header">
    <div class="row">
        <div class="col-sm-6">
            {{#if view.headerTemplate}}
                {{partial view.headerTemplate}}
            {{else}}
                <h3 class="title">{{view.title}}</h3>
            {{/if}}
        </div>

        {{#if filter}}
            <div class="col-sm-6 text-right">
                {{#sl-button action="toggleFilterPane" size="small"}}{{filterText}}{{/sl-button}}
            </div>
        {{/if}}
    </div>
</header>

{{#if filterOpen}}
    <div class="sl-split-grid-filter-pane">
        <div class="filter-content">
            {{split-grid-filter}}
        </div>
    </div>
{{/if}}

<div class="sl-split-grid-list-pane">
    <table class="table sl-split-grid-head">
        <thead>
            <tr>
                {{#each column in columns itemController="sl-split-grid-column"}}
                    <th {{bind-attr class="column.alignmentClass column.sizeClass" style=column.style}}>{{column.title}}</th>
                {{/each}}

                {{#if rowActions}}
                    <th {{bind-attr style=actionsColumnStyle}}></th>
                {{/if}}
            </tr>
        </thead>
    </table>

    <div class="sl-split-grid-body content">
        <table class="table table-hover table-striped">
            <tbody>
                {{#each row in content itemController=rowController}}
                    <tr {{bind-attr class="row.active:active"}}>
                        {{#each column in columns itemController="sl-split-grid-column"}}
                            <td {{action "openDetailsPane" row on="click"}} {{bind-attr class="column.alignmentClass column.sizeClass" style=column.style}}>
                                {{split-grid-cell}}
                            </td>
                        {{/each}}

                        {{#if view.rowActions}}
                            <td {{bind-attr style=actionsColumnStyle}} class="sl-split-grid-actions-cell">
                                {{#sl-drop-button align="right" label=actionsButtonLabel size="small" theme="hover"}}
                                    {{#each rowAction in view.rowActions}}
                                        {{sl-drop-option action=rowAction.action label=rowAction.label}}
                                    {{/each}}
                                {{/sl-drop-button}}
                            </td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <footer>
        <p>Viewing {{content.length}} of {{totalRecords}} Records</p>
    </footer>
</div>

<div class="sl-split-grid-detail-pane">
    <header>
        {{#if view.detailHeaderTemplate}}
            {{split-grid-detail-header}}
        {{else}}
            <span class="title">{{view.detailTitle}}</span>
        {{/if}}

        <button {{action "closeDetailsPane"}} class="close">&times;</button>
    </header>

    <div class="content">
        <div class="detail-content">
            {{split-grid-detail-content}}
        </div>
    </div>

    <footer>
        {{#if view.detailFooterTemplate}}
            {{split-grid-detail-footer}}
        {{/if}}
    </footer>
</div>
