<header class="grid-header">
    <div class="row">
        <div class="col-sm-6">
            {{#if view.header}}
                <h3 class="title">
                    {{partial view.header}}
                </h3>
            {{/if}}
        </div>

        {{#if filter}}
            <div class="col-sm-6 text-right">
                {{#sl-button action="toggleFilterPane" size="small"}}{{filterText}}{{/sl-button}}
            </div>
        {{/if}}
    </div>
</header>

<div class="filter-pane">
    {{#if filterOpen}}
        <div class="filter-content">
            {{split-grid-filter}}
        </div>
    {{/if}}
</div>

<div class="list-pane">
    <table class="table column-headers">
        <thead>
            <tr>
                {{#each column in columns itemViewClass="sl-split-grid-column-header"}}
                    {{column.title}}
                    {{#if column.sortable}}
                        <i {{bind-attr class=":fa view.sortIconClass"}}></i>
                    {{/if}}
                {{/each}}

                {{#if view.showActions}}
                    <th class="actions-cell"></th>
                {{/if}}
            </tr>
        </thead>
    </table>

    <div class="content">
        <table class="table table-hover table-striped">
            <tbody>
                {{!
                    The following if/else statement contains some duplicated
                    code in order to speed up rendering within Handlebars.
                }}
                {{#if view.showActions}}
                    {{#each row in content itemController=view.detail itemViewClass="sl-split-grid-row"}}
                        {{#each column in columns itemViewClass="sl-split-grid-cell"}}
                            {{split-grid-cell}}
                        {{/each}}

                        <td class="actions-cell">
                            {{#sl-drop-button align="right" label=actionsButtonLabel size="small" theme="hover"}}
                                {{#each rowAction in row.rowActions}}
                                    {{sl-drop-option action=rowAction.action label=rowAction.label}}
                                {{/each}}
                            {{/sl-drop-button}}
                        </td>
                    {{/each}}
                {{else}}
                    {{#each row in content itemController=view.detail itemViewClass="sl-split-grid-row"}}
                        {{#each column in columns itemViewClass="sl-split-grid-cell"}}
                            {{split-grid-cell}}
                        {{/each}}
                    {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>

    <footer>
        <div class="row">
            <div class="col-xs-6">
                {{#if view.listFooter}}
                    {{partial view.listFooter}}
                {{/if}}
            </div>
            <div class="col-xs-6 text-right">
                {{#if pendingData}}
                    {{sl-loading-icon}}
                {{/if}}
            </div>
        </div>
    </footer>
</div>

<div class="detail-pane">
    <header>
        {{#if view.detailHeader}}
            <span class="title">
                {{split-grid-detail-header}}
            </span>
        {{/if}}

        <button {{action "closeDetailsPane"}} class="close">&times;</button>
    </header>

    <div class="content">
        <div class="detail-content">
            {{split-grid-detail-content}}
        </div>
    </div>

    {{#if view.detailFooter}}
        <footer>
            {{split-grid-detail-footer}}
        </footer>
    {{/if}}
</div>
