<table class="sl-grid table table-striped">
    <thead>
        <tr>
            {{#if options.rowExpander}}
                <th class="sl-grid-table-cell-row-expander">&nbsp;</th>
            {{/if}}
            {{#each column in columns}}
                {{#unless column.hidden}}
                    {{sl-grid-table-header action="sortColumn" column=column}} 
                    {{#unless column.noResize}}
                        {{sl-grid-table-column-resize column=column header=true disabled=isLoading}}
                    {{/unless}}
                {{/unless}}
            {{/each}}
            {{#if options.actionsColumn}}
                <th class="sl-grid-table-cell-actions">&nbsp;</th>
            {{/if}}
        </tr>
    </thead>
    <tbody>
    {{#if isLoading}}
        <tr>
            <td {{bind-attr colspan=columnCount class=":shadow-mask"}}>&nbsp;
            </td>
        </tr>
    {{else}}
        {{#each row in controller}}
            <tr>
                {{#if options.rowExpander}}
                    {{sl-grid-table-cell-row-expander row=row}}
                {{/if}}
                    {{#each column in columns}}
                        {{#unless column.hidden}}
                            {{#if column.component}}
                               {{render-component column.component cssClass=column.cssClass column=column row=row}}
                            {{else}}
                                {{#sl-grid-table-cell cssClass=column.cssClass}}
                                    {{get-key row column.key column.defaultText}}
                                {{/sl-grid-table-cell}}
                            {{/if}}
                            {{#unless column.noResize}}
                                {{sl-grid-table-column-resize column=column
                                disabled=isLoading}}
                            {{/unless}}
                        {{/unless}}
                    {{/each}}
                {{#if options.actionsColumn}}
                <td class="sl-grid-table-cell-actions">
                    {{sl-drop-button label="Actions" alignRight=true content=row.actionsButton}}
                </td>
                {{/if}}
            </tr>
            {{#if options.rowExpander}}
                {{#if row.rowExpanderIsOpen}}
                    {{#sl-grid-table-row-expander row=row columnCount=columnCount}}
                        {{render-component row.rowExpanderComponent options=options device=row}}
                    {{/sl-grid-table-row-expander}}
                {{/if}}
            {{/if}}
        {{else}}
            <tr>
                <td>No data found</td>
            </tr>
        {{/each}}
    {{/if}}
    </tbody>
</table>
