<h2>sl-date-time</h2>
<p class="lead">A formattable date and time component with included tooltip.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-date-time timezone="America/Chicago"}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Template</h6>
        <h4>{{sl-date-time timezone="America/Chicago"}}</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-date-time
    format="relative"
    timezone="America/Chicago"
    value=firstDayDate
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <h4>{{sl-date-time
            format="relative"
            timezone="America/Chicago"
            value=firstDayDate
        }}</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-date-time
    format="date"
    timezone="America/Chicago"
    value=threeMonthsAgoDate
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        <h4>{{sl-date-time
            format="date"
            timezone="America/Chicago"
            value=threeMonthsAgoDate
        }}</h4>
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<h3>Properties</h3>
<div class="list-group">
    {{#property-text name="timezone" type="String" required=true}}
        The string value for the current moment.js timezone name (i.e., "America/Chicago").
    {{/property-text}}

    {{#property-text name="format" type="String" default="\"datetime\""}}
        The string format to show the datetime text in. Can be "date", "datetime", or "relative".
    {{/property-text}}

    {{#property-text name="locale" type="String" default="\"en\""}}
        The locale string to use for moment.js date formats.
    {{/property-text}}

    {{#property-text name="popover" type="String"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}

    {{#property-text name="value" type="Array/Date/Moment/Number/Object/String" default="now"}}
        The bound date value, parseable by moment.js. If not supplied, the current date and time is used.
    {{/property-text}}
</div>
