<h2>sl-drop-button</h2>
<p class="lead">A combination of a button with a drop-down menu, with triggered actions. Utilizes <a href="http://getbootstrap.com/javascript/#dropdowns">Bootstrap - Dropdowns</a>.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-drop-button label="Select a color"}}
    \{{sl-drop-option action="logRed" label="Red"}}
    \{{sl-drop-option action="logGreen" label="Green"}}
    \{{sl-drop-option action="logBlue" label="Blue"}}
    \{{sl-drop-option}}
    \{{sl-drop-option action="logWhite" label="White"}}
\{{/sl-drop-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-drop-button label="Select a color"}}
            {{sl-drop-option action="logRed" label="Red"}}
            {{sl-drop-option action="logGreen" label="Green"}}
            {{sl-drop-option action="logBlue" label="Blue"}}
            {{sl-drop-option}}
            {{sl-drop-option action="logWhite" label="White"}}
        {{/sl-drop-button}}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<hr>

<h3>sl-drop-button Properties</h3>

<div class="list-group">
    {{#property-text name="align" type="String" default="\"left\""}}
        Aligns the dropdown menu "left" or "right".
    {{/property-text}}

    {{#property-text name="content" type="Array"}}
        An array of hash objects containing the same optional properties as the \{{sl-drop-option}} below. Note that currently, the context is different between these two ways of defining drop-button options.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        Text label for button text.
    {{/property-text}}

    {{#property-text name="size" type="String" default="\"medium\""}}
        Suffix string for the Bootstrap button size; "extra-small", "small", "medium" (default), or "large".
    {{/property-text}}

    {{#property-text name="theme" type="String" default="\"default\""}}
        The theme style string to use for the button; "default" or "hover".
    {{/property-text}}
</div>

<hr>

<h3>sl-drop-option Properties</h3>

<div class="list-group">
    {{#property-text name="action" type="String"}}
        Action to fire when the option is clicked.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        Text label for the option in the menu. If this property is omitted, the option becomes a divider.
    {{/property-text}}
</div>
