<h2>sl-grid</h2>
<p class="lead">A dual-pane, master-detail split panel grid.</p>

<p>For a larger, full-page example of a standalone grid, see {{#link-to "demos.grid"}}demos/grid{{/link-to}}.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template: grid.hbs</h6>
        <pre>\{{#sl-grid
    columns=columns
    content=arrangedContent
    height=400
    showActions=true
    sortColumn="sortColumn"
    totalCount=totalCount
}}
    &lt;h3&gt;Colors&lt;/h3&gt;
\{{/sl-grid}}</pre>

        <h6>Template: grid/detail-footer.hbs</h6>
        <pre>\{{model.hexCode}}</pre>

        <h6>Template: grid/detail-header.hbs</h6>
        <pre>Color: \{{model.name}}</pre>

        <h6>Template: grid/detail.hbs</h6>
        <pre>&lt;h3&gt;\{{model.name}} fruit: \{{model.fruit}}&lt;/h3&gt;</pre>

        <h6>Template: grid/footer.hbs</h6>
        <pre>Viewing \{{content.length}} of \{{totalCount}} Colors</pre>

        <h6>Controller</h6>
        <pre>columns: [
    {
        primary   : true,
        title     : 'Color',
        valuePath : 'name'
    }, {
        size      : 'small',
        sortable  : true,
        title     : 'Fruit',
        valuePath : 'fruit'
    }, {
        size      : 'small',
        title     : 'Hex Code',
        valuePath : 'hexCode'
    }
]</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-grid
            columns=columns
            content=arrangedContent
            height=400
            showActions=true
            sortColumn="sortColumn"
            totalCount=totalCount
        }}
            <h3>Colors</h3>
        {{/sl-grid}}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="columns" type="array" required=true}}
        <p>An array of column definition objects. Each column definition object can contain the following values:</p>
        <ul>
            <li><strong>align</strong> - A <em>string</em> that determines which direction to align the column's text (default: "left")</li>
            <li><strong>primary</strong> - A <em>boolean</em> that determines whether the column remains shown when the detail pane is visible (default: <em>false</em>)</li>
            <li><strong>size</strong> - The width of the column; either a string for relative sizing ("small", "medium", or "large"), or a number for exact number of pixels; the default is null for auto width</li>
            <li><strong>sortable</strong> - A <em>boolean</em> that determines whether the column is sortable or not (default: <em>false</em>)</li>
            <li><strong>template</strong> - The name of a template to use for the cell value, for more complex content; uses the <code>rowController</code> as its controller</li>
            <li><strong>title</strong> - The displayed title of the column</li>
            <li><strong>valuePath</strong> - The lookup string for the column's basic output; only used if <strong>template</strong> is omitted</li>
        </ul>
    {{/property-text}}

    {{#property-text name="content" type="array" required=true}}
        Array of records to display as the rows.
    {{/property-text}}

    {{#property-text name="actionButtonLabel" type="string" default="\"Actions\""}}
        The text to label the row actions' button with.
    {{/property-text}}

    {{#property-text name="detailFooterPath" type="string"}}
        The application path to a template to use for the detail-pane footer. This template's controller is the one corresponding to <code>detailPath</code>. If this property is omitted, the component will look for a file named in the current context <code>./detail-footer.hbs</code>, and if not found, will not render anything for the detail footer.
    {{/property-text}}

    {{#property-text name="detailHeaderPath" type="string"}}
        The application path to a template to use for the detail-pane header. This template's controller is the one corresponding to <code>detailPath</code>. If this property is omitted, the component will look for a file named in the current context <code>./detail-header.hbs</code>, and if not found, will not render anything for the detail header.
    {{/property-text}}

    {{#property-text name="detailPath" type="string"}}
        The application path to a controller and template to use for the detail-pane and all of its content. The controller this path points to will be used for the detailFooter and detailHeader content areas. If this property is omitted, the component will assume a path named in the current context <code>./detail</code>.
    {{/property-text}}

    {{#property-text name="filterButtonLabel" type="string" default="Filter"}}
        The string to use for the filter button label text.
    {{/property-text}}

    {{#property-text name="filterPath" type="string"}}
        The application path to a controller and template to use for the filter-pane content. If this property is omitted, the component will assume a path named in the current context <code>./filter</code>.
    {{/property-text}}

    {{#property-text name="footerPath" type="string"}}
        The application path to a template to use for list-pane footer. This template's controller will be the current controller. If this property is omitted, the component will look for a file named in the current context <code>./footer.hbs</code>, and if not found, will not render anything for the footer.
    {{/property-text}}

    {{#property-text name="height" type="number/string" default="\"auto\""}}
        Determines the overall height of the sl-grid component. When the value is "auto" (the default), then the component will responsively size its own height to the allowed space in the viewport. Setting it to a number will lock the height to that many pixels high.
    {{/property-text}}

    {{#property-text name="nextPage" type="string"}}
        The name of an action to trigger when the next page of data is requested from the grid. This action should load the next page of data itself.
    {{/property-text}}

    {{#property-text name="rowClick" type="string"}}
        The name of an action to trigger when a row on the list-pane is clicked. If this is omitted, then the detail-pane will open with the model context of the clicked row's record.
    {{/property-text}}

    {{#property-text name="showActions" type="boolean" default="false"}}
        Whether to show a column for the actions dropdown on the right side of the table. The drop-button options are populated by the detail controller's <code>rowActions</code> array property.
    {{/property-text}}

    {{#property-text name="sortColumn" type="string"}}
        The name of an action to trigger when a sortable column is selected for sorting. This action should accept two arguments: the column definition to sort on, and a boolean for whether the column is sorted ascending (true) or descending (false).
    {{/property-text}}

    {{#property-text name="totalCount" type="number"}}
        The total number of records for the content. This value is used to determine when new pages should be requested.
    {{/property-text}}
</div>
