<h2>sl-grid</h2>
<p class="lead">A dual-pane, master-detail split panel grid.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template: demos/sl-grid.hbs</h6>
        <pre>\{{#sl-grid
    columns=columns
    content=sortedModel
    detailComponent="demos/sl-grid-detail"
    detailFooterComponent="demos/sl-grid-detail-footer"
    detailHeaderComponent="demos/sl-grid-detail-header"
    fixedHeader=true
    footerPath="demos/sl-grid/footer"
    height="21em"
    rowActions=rowActions
    sendLog=(action "logName")
    sortColumn="sortColumn"
    totalCount=totalCount
}}
    &lt;h3&gt;Colors&lt;/h3&gt;
\{{/sl-grid}}</pre>
<p>The <code>sendLog</code> action in the above template is not a built-in action of sl-grid, but is defined in the <code>rowActions</code> property specifically for this example. See the <code>rowActions</code> property documentation for a more in-depth example.</p>

        <h6>Template: components/demos/sl-grid-detail-footer.hbs</h6>
        <pre>\{{model.hexCode}}</pre>

        <h6>Template: components/demos/sl-grid-detail-header.hbs</h6>
        <pre>Color: \{{model.name}}</pre>

        <h6>Template: components/demos/sl-grid-detail.hbs</h6>
        <pre>&lt;h3&gt;\{{model.name}} fruit: \{{model.fruit}}&lt;/h3&gt;</pre>

        <h6>Template: demos/sl-grid/footer.hbs</h6>
        <pre>Viewing \{{content.length}} of \{{totalCount}} Colors</pre>

        <h6>Controller</h6>
        <pre>columns: [
    {
        title: 'Color',
        valuePath: 'name'
    },
    {
        headerClass: 'smallWidth',
        primary: true,
        sortable: true,
        sorted: 'asc',
        title: 'Fruit',
        valuePath: 'fruit'
    },
    {
        headerClass: 'smallWidth',
        sortable: true,
        title: 'Hex Code',
        valuePath: 'hexCode'
    }
],

rowActions: [
    {
        action: 'sendLog',
        label: 'Log'
    }
]</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-grid
            columns=columns
            content=sortedModel
            detailComponent="demos/sl-grid-detail"
            detailFooterComponent="demos/sl-grid-detail-footer"
            detailHeaderComponent="demos/sl-grid-detail-header"
            fixedHeader=true
            footerPath="demos/sl-grid/footer"
            height="21em"
            rowActions=rowActions
            sendLog=(action "logName")
            sortColumn="sortColumn"
            totalCount=totalCount
        }}
            <h3>Colors</h3>
        {{/sl-grid}}
    </div>
</div>

<hr>

<h3>Custom CSS styling</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-ember-components-grid</p>
        <p>The default class prefix is "sl-ember-components" unless the consuming application passes in a custom prefix. In which case, the CSS class would be [customprefix]-grid.</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="columns" type="Array" required=true}}
        <p>An array of column definition objects. Each column definition object can contain the following values:</p>
        <ul>
            <li><strong>align</strong> - A <em>string</em> that determines which direction to align the column's text (default: "left")</li>
            <li><strong>primary</strong> - A <em>boolean</em> that determines whether the column remains shown when the detail pane is visible (default: <em>false</em>)</li>
            <li><strong>headerClass</strong> - A class to pass through to the column header.  Allows for CSS control of column widths</li>
            <li><strong>sortable</strong> - A <em>boolean</em> that determines whether the column is sortable or not (default: <em>false</em>)</li>
            <li><strong>sorted</strong> - A <em>string</em> that determines which direction the column is sorted (default: <em>null</em>)</li>
            <li><strong>title</strong> - The displayed title of the column</li>
            <li><strong>valuePath</strong> - The lookup string for the column's basic output; only used if <strong>template</strong> is omitted</li>
        </ul>
    {{/property-text}}

    {{#property-text name="content" type="Array" required=true}}
        Array of record objects to display as the rows.
    {{/property-text}}

    {{#property-text name="actionButtonLabel" type="String" default="\"Actions\""}}
        The text to label the row actions' button with.
    {{/property-text}}

    {{#property-text name="continuous" type="Boolean" default="false"}}
        When this is true, the grid requests data in a continuous paging manner, without the use of pagination options or data. See <code>requestData</code> for information on how content is handled in a <code>continuous</code> grid.
    {{/property-text}}

    {{#property-text name="detailComponent" type="String"}}
        The name of a component to render in the detail pane. The component is supplied a `model` property representing the record of the row that was clicked on to open the pane. If `detailComponent` is omitted, the detail pane will not be opened when a row in the list pane is clicked.
    {{/property-text}}

    {{#property-text name="detailFooterComponent" type="String"}}
        The name of a component to render as the detail-pane footer. The component is supplied a `model` property representing the record of the row that was clicked on to open the pane. If this property is omitted, the detail footer will not be rendered.
    {{/property-text}}

    {{#property-text name="detailHeaderComponent" type="String"}}
        The name of a component to render as the detail-pane header. The component is supplied a `model` property representing the record of the row that was clicked on to open the pane. If this property is omitted, the detail header will not be rendered.
    {{/property-text}}

    {{#property-text name="filterButtonLabel" type="String" default="Filter"}}
        The string to use for the filter button label text.
    {{/property-text}}

    {{#property-text name="filterComponent" type="String"}}
        The name of a component to render in the filter pane. If this property is omitted, the filter button and pane will be disabled.
    {{/property-text}}

    {{#property-text name="fixedHeader" type="Boolean" default="false"}}
        Determines if the table headers should be fixed position when the table is scrolled.
    {{/property-text}}

    {{#property-text name="footerPath" type="String"}}
        The application path to a template to use for the table's footer. This template is rendered in the context of the sl-grid component. If this property is omitted, the component will look for a file <code>./footer.hbs</code>, and if not found, will not render anything for the footer.
    {{/property-text}}

    {{#property-text name="height" type="Number/String" default="\"\""}}
        Determines the overall height of the sl-grid component. This can be any CSS sizing value.
    {{/property-text}}

    {{#property-text name="pageSize" type="Number" default="25"}}
        <p><em>Valid only for non-<code>continuous</code> grids</em>.</p>

        <p>The number of records shown per page.</p>
    {{/property-text}}

    {{#property-text name="requestData" type="String"}}
        <p>The name of an action to trigger when a data change is requested.</p>

        <p>For a <code>continuous</code> grid, this is triggered when the end of the content data in the grid's table is encountered. The action function is not sent anything, and should handle simply appending data onto the bound <code>content</code> array itself.</p>

        <p>For a non-<code>continuous</code> grid&mdash;the default&mdash;the action function should accept a page number to load data into <code>content</code> for.</p>
    {{/property-text}}

    {{#property-text name="rowActions" type="Array"}}
        <p>An array of objects defining what actions display in the right-most column for each row in the list pane. Each object in this array should contain the following values:</p>
        <ul>
            <li><strong>action</strong> - A <em>string</em> name of an action to trigger when this action option is selected</li>
            <li><strong>label</strong> - A <em>string</em> to use for the label of the action option as a dropdown item</li>
        </ul>
        <p>In order for an action to be handled in the controller and/or routes, the action must be specified when using the grid in a template. When an action menu option is selected, the content object for that row is sent as an argument to that action's handler. The following example illustrates the use of <code>rowActions</code> with action handlers in a controller:</p>

        <h6>Controller</h6>
        <pre>actions: {
    logName( row ) {
        window.console.log( 'Name:', Ember.get( row, 'name' ) );
    },

    logFruit( row ) {
        window.console.log( 'Fruit:', Ember.get( row, 'fruit' ) );
    }
},

columns: [
    // some column definitions
],

content: [
    // some content
],

rowActions: [
    {
        label: 'Log',
        action: 'sendLog'
    },
    {
        label: 'Another Action',
        action: 'anotherAction'
    }
]</pre>

        <h6>Template</h6>
        <pre>\{{sl-grid
    columns=columns
    content=content
    sendLog=(action "logName")
    anotherAction=(action "logFruit")
}}</pre>
    {{/property-text}}

    {{#property-text name="rowClick" type="String"}}
        The name of an action to trigger when a row on the table is clicked. If this is omitted, then the row will
        be selected and the detail-pane will open with the model context of the clicked row's record. If no valid
        detailPath is defined, then nothing will happen when a table row is clicked.
    {{/property-text}}

    {{#property-text name="sortColumn" type="Object"}}
        The name of an action to trigger when a sortable column is selected for sorting. This action should accept one
        argument: the column definition to sort on.
    {{/property-text}}

    {{#property-text name="totalCount" type="Number"}}
        The total number of records for the content. This value is used to determine when new pages in a
        <code>continuous</code> grid should be requested, and the interface text in a non-<code>continuous</code> grid.
    {{/property-text}}
</div>
