<h2>sl-input</h2>
<p class="lead">A wrapper component for &lt;input&gt;. See <a href="http://getbootstrap.com/css/#forms">Bootstrap - Forms</a> for details.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-input
    label="Input with label and helpText"
    helpText="Help text content goes here"
    placeholder="Enter some text"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-input
            label="Input with label and helpText"
            helpText="Help text content goes here"
            placeholder="Enter some text"
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-input
    label="Input with typeahead suggestions"
    placeholder="Enter a color"
    suggestions=colors
    value=colorValue
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-input
            label="Input with typeahead suggestions"
            placeholder="Enter a color"
            suggestions=colors
            value=colorValue
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-input
    label="Disabled input"
    disabled=true
    placeholder="You can't enter anything here"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-input
            label="Disabled input"
            disabled=true
            placeholder="You can't enter anything here"
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-input
    label="Readonly input"
    readonly=true
    value="Look but don't touch!"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-input
            label="Readonly input"
            readonly=true
            value="Look but don't touch!"
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-input
    label="Required input"
    required=true
    placeholder="You'd better enter something here"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-input
            label="Required input"
            required=true
            placeholder="You'd better enter something here"
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-input
    label="Optional input"
    optional=true
    placeholder="Meh, whatev"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-input
            label="Optional input"
            optional=true
            placeholder="Meh, whatev"
        }}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-input
    clickToEdit=true
    label="Click-to-edit input"
    placeholder="Enter value"
    value="Initial value"
}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-input
            clickToEdit=true
            label="Click-to-edit input"
            placeholder="Enter value"
            value="Initial value"
        }}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-input-based</p>
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="list-group">
    {{#property-text name="blur" type="String"}}
        An action to trigger when the input loses focus.
    {{/property-text}}

    {{#property-text name="clickToEdit" type="Boolean" default="false"}}
        When true, the input field will be styled similarly to inline text, but
        when clicked will allow editing.
    {{/property-text}}

    {{#property-text name="disabled" type="Boolean" default="false"}}
        When true, input is disabled.
    {{/property-text}}

    {{#property-text name="helpText" type="String"}}
        Text to display below the input element.
    {{/property-text}}

    {{#property-text name="label" type="String"}}
        String for label text above the input.
    {{/property-text}}

    {{#property-text name="name" type="String"}}
        <code>name</code> attribute value for the input.
    {{/property-text}}

    {{#property-text name="optional" type="Boolean" default="false"}}
        When true, the component is styled to reflect optional status. This styling will only be in effect if the <code>label</code> property has also been set.
    {{/property-text}}

    {{#property-text name="placeholder" type="String"}}
        <code>placeholder</code> attribute value for the input.
    {{/property-text}}

    {{#property-text name="popover" type="String" requires="title"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="readonly" type="Boolean" default="false"}}
        <code>readonly</code> attribute value for the input.
    {{/property-text}}

    {{#property-text name="required" type="Boolean" default="false"}}
        When true, the component is styled to reflect required status. This styling will only be in effect if the <code>label</code> property has also been set.
    {{/property-text}}

    {{#property-text name="suggestionNamePath" type="String" default="\"name\""}}
        The string lookup for each suggestion's "name" value.
    {{/property-text}}

    {{#property-text name="suggestions" type="Array"}}
        Values to use as typeahead suggestions.
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        Tooltip text string, or becomes popover title with supplied popover property.
    {{/property-text}}

    {{#property-text name="type" type="String" default="\"text\""}}
        <code>type</code> attribute for the input.
    {{/property-text}}

    {{#property-text name="value" type="String"}}
        Bound value of the input.
    {{/property-text}}
</div>
