<h2>sl-modal</h2>
<p class="lead">A modal component used to wrap content in. Based on <a href="http://getbootstrap.com/javascript/#modals">Bootstrap - Modals</a>.</p>
<hr>

<h3>Examples</h3>

<section id="simple">
    <div class="row">
        <div class="col-lg-8">
            <h6>Simple usage</h6>
            <pre>\{{#sl-modal streamName="demoModal"}}
    \{{sl-modal-header title="Simple Example"}}

    \{{#sl-modal-body}}
         &lt;p&gt;A simple modal example&lt;/p&gt;
    \{{/sl-modal-body}}

    \{{sl-modal-footer}}
\{{/sl-modal}} </pre>
        {{#sl-modal streamName="demoModal"}}
            {{sl-modal-header title="Simple Example"}}

            {{#sl-modal-body}}
                <p>A simple modal example</p>
            {{/sl-modal-body}}

            {{sl-modal-footer}}
        {{/sl-modal}}
        </div>
        <div class="col-lg-4">
            <h6>Click to Show Component</h6>
            {{sl-button
                label="Open Modal"
                showModalWithStreamName="demoModal"
            }}
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-lg-8">
            <h6>Custom header</h6>
            <pre>\{{#sl-modal streamName="customHeader"}}
    \{{#sl-modal-header as |ariaLabelledBy|}}
        &lt;button class=&quot;close&quot; data-dismiss=&quot;modal&quot; type=&quot;button&quot;&gt;
            &lt;span aria-hidden=&quot;true&quot; class=&quot;fa fa-close&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sr-only&quot;&gt;Close&lt;/span&gt;
        &lt;/button&gt;
        &lt;span class=&quot;modal-title&quot; id=\{{ariaLabelledBy}}&gt;Custom Header&lt;/span&gt;
    \{{/sl-modal-header}}

    \{{#sl-modal-body}}
         &lt;p&gt;A custom header and close button&lt;/p&gt;
    \{{/sl-modal-body}}

    \{{sl-modal-footer}}
\{{/sl-modal}}</pre>

{{#sl-modal streamName="customHeader"}}
    {{#sl-modal-header as |ariaLabelledBy|}}
        <button class="close" data-dismiss="modal" type="button">
            <span aria-hidden="true" class="fa fa-close"></span>
            <span class="sr-only">close</span>
        </button>
        <span class="modal-title" id={{ariaLabelledBy}}>custom header</span>
    {{/sl-modal-header}}

    {{#sl-modal-body}}
        <p>modal with a custom header close button</p>
    {{/sl-modal-body}}

    {{sl-modal-footer}}
{{/sl-modal}}
        </div>
        <div class="col-lg-4">
            <h6>Click to Show Component</h6>
            {{sl-button
                label="Open Modal"
                showModalWithStreamName="customHeader"
            }}
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-lg-8">
            <h6>Custom footer with multiple buttons</h6>
            <pre>\{{#sl-modal streamName="customFooter"}}
    \{{sl-modal-header title="Custom Footer"}}

    \{{#sl-modal-body}}
         &lt;p&gt;Custom footer with multiple buttons&lt;/p&gt;
    \{{/sl-modal-body}}

    \{{#sl-modal-footer}}
         &lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot; data-dismiss=&quot;modal&quot;&gt;Close&lt;/button&gt;
         &lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Save changes&lt;/button&gt;
   \{{/sl-modal-footer}}
\{{/sl-modal}}</pre>

            {{#sl-modal streamName="customFooter"}}
                {{sl-modal-header title="Custom Footer"}}

                {{#sl-modal-body}}
                    <p>Modal with multiple buttons in the footer</p>
                {{/sl-modal-body}}

                {{#sl-modal-footer}}
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                {{/sl-modal-footer}}
            {{/sl-modal}}
        </div>
        <div class="col-lg-4">
            <h6>Click to Show Component</h6>
            {{sl-button
                label="Open Modal"
                showModalWithStreamName="customFooter"
            }}
        </div>
    </div>
</section>

<hr>

<section>
    <h2>Triggering a modal to open using a sl-button</h2>
    <p>The code below shows how to use a {{#link-to 'demos.sl-button'}}sl-button{{/link-to}} to trigger a modal with a name of "demo" to open, when clicked.</p>
    <p>Pass in the name of the modal as the value to the <code>showModalWithStreamName</code> property.</p>
    <pre> \{{sl-button showModalWithStreamName="demo" label="Open Modal"}}</pre>
</section>

<hr>

<h3>sl-modal Properties</h3>
{{#property-text name="afterHide" type="Function"}}
    Action to call after modal is shown.
{{/property-text}}

{{#property-text name="afterShow" type="Function"}}
    Action to call after modal is shown.
{{/property-text}}

{{#property-text name="animated" type="Boolean" default="true"}}
    Whether to animate opening and closing of modal.
{{/property-text}}

{{#property-text name="backdrop" type="Boolean" default="true"}}
    Whether to show backdrop.
{{/property-text}}

{{#property-text name="beforeHide" type="Function"}}
    Action to call after modal is shown.
{{/property-text}}

{{#property-text name="beforeShow" type="Function"}}
    Action to call after modal is shown.
{{/property-text}}

{{#property-text name="streamName" type="String"}}
    The name to register a stream with on the streamService. See "Stream Actions" below.
{{/property-text}}

<hr>

<h3>sl-modal-header Properties</h3>

{{#property-text name="title" type="String"}}
    Title of the modal.
{{/property-text}}

<hr>

<h3>sl-modal-footer Properties</h3>
{{#property-text name="buttonText" type="String" default="Close"}}
    Close button text.
{{/property-text}}

<hr>

<h3>ARIA Support</h3>
{{#property-text name="role"}}
    This attribute is automatically rendered as <code>role="dialog"</code>
{{/property-text}}

{{#property-text name="aria-hidden"}}
    This attribute is automatically rendered as <code>aria-hidden="true"</code>
{{/property-text}}

{{#property-text name="aria-labelledby"}}
    <p> This attribute is automatically rendered as <code>aria-labelledby="X"</code>, where X is a string composed of the value modalTitle- followed by a random number.  If you pass in a title to the <code>sl-modal-header</code> component, no action is needed on your part, the <code>aria-labelledby</code> attribute will automatically point to the id of the title element. If you do not pass in a title and are <em>not</em> using a custom header, the <code>aria-labelledby</code> attribute will not be present.</p>

    <p>If you would like to use a custom header you will need to identify a section of text that servers as the label for this dialog and give it the same id value assigned to the <code>aria-labelledby</code> attribute.</p>

    <p>The example below illustrates how to bind the value of the <code>ariaLabelledBy</code> property to the id of a target element using <code>id=\{{ariaLabelledBy}}</code>.</p>

<pre>\{{#sl-modal name="labelledbyDemo"}}
    \{{#sl-modal-header as |ariaLabelledBy|}}
        &lt;button class=&quot;close&quot; data-dismiss=&quot;modal&quot; type=&quot;button&quot;&gt;
            &lt;span aria-hidden=&quot;true&quot; class=&quot;fa fa-close&quot;&gt;&lt;/span&gt;
            &lt;span class=&quot;sr-only&quot;&gt;Close&lt;/span&gt;
        &lt;/button&gt;
        &lt;span class=&quot;modal-title&quot; id=\{{ariaLabelledBy}}&gt;Custom Header&lt;/span&gt;
    \{{/sl-modal-header}}

    \{{#sl-modal-body}}
       &lt;p&gt;Modal with a custom header&lt;/p&gt;
    \{{/sl-modal-body}}

    \{{sl-modal-footer}}
\{{/sl-modal}}
</pre>
{{/property-text}}

{{#property-text name="aria-describedby"}}
    <p>The <code>ariaDescribedBy</code> property can be set on the <code>sl-modal</code> component. Once this property is set, you will need to provide an element with a section of text whose <code>id</code> attribute corresponds to the <code>ariaDescribedBy</code> property set on the <code>sl-modal</code> component, as shown in the code below.</p>

<pre>\{{#sl-modal name="describedbyDemo" ariaDescribedBy="modalDescription"}}
    \{{#sl-modal-header}}
       &#x3C;span id=&#x22;modalDescription&#x22;&#x3E;A description of the modal&#x3C;/span&#x3E;
    \{{/sl-modal-header}}

    \{{#sl-modal-body}}
       &lt;p&gt;Modal showing describedby usage&lt;/p&gt;
    \{{/sl-modal-body}}

    \{{sl-modal-footer}}
\{{/sl-modal}}
</pre>
{{/property-text}}

<hr>

<h3>Stream Actions</h3>

<p>If the <code>streamName</code> property is set on the component, it will register a stream named that value, listen for actions matching the following names, and act accordingly.</p>

{{#property-text name="hide"}}
    Trigger to hide the modal
{{/property-text}}

{{#property-text name="show"}}
    Trigger to show the modal
{{/property-text}}
