{{#if inline}}
    {{input
        type="checkbox"
        checked=checked
        disabled=disabled
        name=name}}
    {{label}}
{{else}}
    <label>
        {{input
            type="checkbox"
            checked=checked
            disabled=disabled
            name=name}}
        {{label}}
    </label>
{{/if}}
