<div class="calendar-{{viewMode}}">

    {{#if viewingDays}}
        <table class="calendar-controls">
            <tr>
                <th>
                    <button tabIndex="-1" {{action "changeMonth" -1}} class="btn btn-xs btn-default">
                        <span class="sl-icon-previous">previous month</span>
                    </button>
                </th>
                <th>
                    <a href="#" tabIndex="-1" {{action "setView" "months"}}>
                        {{calendarTitle}}
                    </a>
                </th>
                <th>
                    <button tabIndex="-1" {{action "changeMonth" 1}} class="btn btn-xs btn-default">
                        <span class="sl-icon-next">next month</span>
                    </button>
                </th>
            </tr>
        </table>

        <table role="grid">
            <thead>
                <tr>
                    {{#each shortWeekDayNames as |dayName|}}
                        <th class="dow" role="columnheader">{{dayName}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each weeksInMonthView as |weekDays|}}
                    <tr>
                        {{#each weekDays as |day|}}
                            {{#sl-calendar-day
                                action="selectDate"
                                active=day.active
                                content=day.content
                                new=day.new
                                old=day.old
                                date=day.date
                                focused=day.focused
                                restricted=day.restricted
                            }}
                                {{day.dayName}}
                            {{/sl-calendar-day}}
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}

    {{#if viewingMonths}}
        <table class="calendar-controls">
            <tr>
                <th>
                    <button tabIndex="-1" {{action "changeYear" -1}} class="btn btn-xs btn-default">
                        <span class="sl-icon-previous">previous year</span>
                    </button>
                </th>
                <th>
                    <a href="#" tabIndex="-1" {{action "setView" "years"}}>
                        {{calendarTitle}}
                    </a>
                </th>
                <th>
                    <button tabIndex="-1" {{action "changeYear" 1}} class="btn btn-xs btn-default">
                        <span class="sl-icon-next">next year</span>
                    </button>
                </th>
            </tr>
        </table>

        <table role="grid">
            <tbody>
                {{#each monthsInYearView as |monthRow|}}
                    <tr>
                        {{#each monthRow as |month|}}
                            {{#sl-calendar-month
                                action="selectMonth"
                                active=month.active
                                locale=locale
                                month=month.month
                            }}
                                {{month.monthName}}
                            {{/sl-calendar-month}}
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}

    {{#if viewingYears}}
        <table class="calendar-controls">
            <tr>
                <th>
                    <button tabIndex="-1" {{action "changeDecade" -1}} class="btn btn-xs btn-default">
                        <span class="sl-icon-previous">previous decade</span>
                    </button>
                </th>
                <th>
                    <span>
                        {{calendarTitle}}
                    </span>
                </th>
                <th>
                    <button tabIndex="-1" {{action "changeDecade" 1}} class="btn btn-xs btn-default">
                        <span class="sl-icon-next">next decade</span>
                    </button>
                </th>
            </tr>
        </table>

        <table role="grid">
            <tbody>
                {{#each yearsInDecadeView as |yearRow|}}
                    <tr>
                        {{#each yearRow as |year|}}
                            {{sl-calendar-year
                                action="selectYear"
                                active=year.active
                                old=year.old
                                new=year.new
                                year=year.year
                            }}
                        {{/each}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/if}}

</div>
