{{#if label}}
    <label for={{inputId}}>{{label}}</label>
{{/if}}

{{input
    type="text"
    class="date-picker form-control"
    disabled=disabled
    id=inputId
    placeholder=placeholder
    value=value
    focus-in="inputFocused"
    focus-out="inputBlurred"
    key-up="inputKeyUp"
}}

{{#if hasFocus}}
    <div class="popover bottom show" style="top: auto;">
        <div class="arrow"></div>
        <div class="popover-content">
            {{sl-calendar
                action="selectDate"
                fixedWeekCount=true
                locale=locale
                selectedDate=selectedDate
                viewingDate=viewingDate
            }}
        </div>
    </div>
{{/if}}

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
