{{#if label}}
    <label for={{inputId}}>{{label}}</label>
{{/if}}

<div class="row">
    {{sl-date-picker
        class="sl-daterange-start-date col-md-6"
        placeholder=startDatePlaceholder
        inputId=inputId

        format=format
        selectConstraint=endSelectConstraint
        selectedDate=startDate
        action="startSelected"
    }}

    {{sl-date-picker
        class="sl-daterange-end-date col-md-6"
        placeholder=endDatePlaceholder

        format=format
        selectConstraint=startSelectConstraint
        selectedDate=endDate
    }}
</div>

{{#if helpText}}
    <p class="help-block">{{helpText}}</p>
{{/if}}
