{{#if hasBlock}}
    <a href="#" {{action "click" action}} role="menuitem" tab-index="-1">
        {{yield}}
        {{#if label}}
            {{label}}
        {{/if}}
    </a>
{{else}}
    {{#if label}}
        <a href="#" {{action "click" action}} role="menuitem" tab-index="-1">
            {{label}}
        </a>
    {{/if}}
{{/if}}
