{{#if menu.label}}
    <a href="#" {{bind-attr class="menu.pages:submenu"}} {{action "selected" target="view" bubbles=false}}>{{view.menu.label}}</a>
{{/if}}

{{#if menu.pages}}
    <ul {{bind-attr class="view.isRoot:list-inline"}}>
        {{#each page in pages}}
            {{sl-menu
                extraClassNames=page.extraClassNames
                isRoot=false
                menu=page
                tagName="li"
            }}
        {{/each}}

        {{#if view.displayShowAll}}
            {{#view view.AllView}}
                <a href="#" class="fa fa-chevron-circle-down" style="font-size: 18px;"></a>
            {{/view}}
        {{/if}}
    </ul>
{{/if}}
