{{#if subItems}}
    <a {{action "clickLink"}} class="dropdown-toggle">{{item.label}}</a>

    <ul class="dropdown-menu">
        {{#each subItems as |item|}}
            {{sl-menu-item
                action="handleAction"
                item=item
            }}
        {{/each}}
    </ul>
{{else}}
    <a {{action "clickLink"}}>{{item.label}}</a>
{{/if}}
