<li {{bind-attr class="onFirstPage:disabled :sl-pagination-button"}}>
    <a {{action "previousPage"}} aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
    </a>
</li>
<li><a>{{currentPage}}</a></li>
<li {{bind-attr class="onLastPage:disabled :sl-pagination-button"}}>
    <a {{action "nextPage"}} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
    </a>
</li>
