<li class="{{if onFirstPage "disabled"}}">
    <a {{action "previousPage"}} aria-label="Previous" class="previous-page-button sl-pagination-button">
        <span aria-hidden="true">&laquo;</span>
    </a>
</li>

{{~#each range as |page|~}}
    <li class="{{if page.active "active"}}">
        <a href="#" {{action "gotoPage" page.index}}>{{page.index}}</a>
    </li>
{{~/each~}}

<li class="{{if onLastPage "disabled"}}">
    <a {{action "nextPage"}} aria-label="Next" class="next-page-button sl-pagination-button">
        <span aria-hidden="true">&raquo;</span>
    </a>
</li>
