<div
    aria-valuemin="0"
    aria-valuemax="100"
    aria-valuenow={{value}}
    class="progress-bar
        {{if striped "progress-bar-striped"}}
        {{if animated "active"}}
        {{themeClassName}}"
    role="progressbar"
>
    {{#if label}}
        <span class="progress-bar-value">{{value}}%</span>
    {{else}}
        <span class="sr-only">{{value}}% Complete</span>
    {{/if}}
</div>
