<li class="{{if onFirstPage 'disabled'}}">
    <a {{action "previousPage"}} aria-label="Previous" class="previous-page-button sl-pagination-button">
        <span aria-hidden="true">&laquo;</span>
    </a>
</li>
<li><a>{{currentPage}}&ensp;/&ensp;{{totalPages}}</a></li>
<li class="{{if onLastPage 'disabled'}}">
    <a {{action "nextPage"}} aria-label="Next" class="next-page-button sl-pagination-button">
        <span aria-hidden="true">&raquo;</span>
    </a>
</li>
