{{#if inline}}
    {{input
        type="radio"
        disabled=disabled
        name=name
        value=value}}
    {{label}}
{{else}}
    <label>
        {{input
            type="radio"
            disabled=disabled
            name=name
            value=value}}
        {{label}}
    </label>
{{/if}}
