<header>
    <div class="row">
        <div class="col-sm-6">
            <span class="title">{{title}}</span>
        </div>

        <div class="col-sm-6 text-right">
            {{#sl-button}}Filter{{/sl-button}}
        </div>
    </div>
</header>

<div class="sl-split-grid-list-pane">
    <table class="table sl-split-grid-head">
        <thead>
            <tr>
                {{#each column in columns itemController="sl-split-grid-column"}}
                    <th {{bind-attr class="column.sizeClass"}}>{{column.title}}</th>
                {{/each}}

                {{#if rowActions}}
                    <th {{bind-attr style=actionsColumnStyle}}></th>
                {{/if}}
            </tr>
        </thead>
    </table>

    <div class="sl-split-grid-body content">
        <table class="table table-hover">
            <tbody>
                {{#each row in content itemController="sl-split-grid-row"}}
                    <tr {{action "openDetailsPane" row on="click"}} {{bind-attr class="row.active:active"}}>
                        {{#each column in columns itemController="sl-split-grid-column"}}
                            <td {{bind-attr class="column.sizeClass" style=column.style}}>
                                {{split-grid-cell-value}}
                            </td>
                        {{/each}}

                        {{#if rowActions}}
                            <td {{bind-attr style=actionsColumnStyle}}>
                                {{#sl-drop-button label=actionsButtonLabel size="sm"}}
                                    {{#each rowAction in rowActions}}
                                        {{sl-drop-option action=rowAction.action label=rowAction.label}}
                                    {{/each}}
                                {{/sl-drop-button}}
                            </td>
                        {{/if}}
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<div class="sl-split-grid-detail-pane">
    <header>
        <span class="title">Detail Pane</span>
        <a {{action "closeDetailsPane"}} class="btn close-button">&times;</a>
    </header>

    <div class="content">
        <div class="detail-content">
            {{detailTemplate}}
        </div>
    </div>
</div>
