<h2>sl-drop-button</h2>
<p class="lead">A combination of a button with a drop-down menu, with triggered actions. Utilizes <a href="http://getbootstrap.com/javascript/#dropdowns">Bootstrap - Dropdowns</a>.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-drop-button label="Select a color"}}
    \{{sl-drop-option action="alertRed" label="Red"}}
    \{{sl-drop-option action="alertGreen" label="Green"}}
    \{{sl-drop-option action="alertBlue" label="Blue"}}
    \{{sl-drop-option}}
    \{{sl-drop-option action="alertWhite" label="White"}}
\{{/sl-drop-button}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-drop-button label="Select a color"}}
            {{sl-drop-option action="alertRed" label="Red"}}
            {{sl-drop-option action="alertGreen" label="Green"}}
            {{sl-drop-option action="alertBlue" label="Blue"}}
            {{sl-drop-option}}
            {{sl-drop-option action="alertWhite" label="White"}}
        {{/sl-drop-button}}
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        sl-tooltip-enabled
    </div>
</div>

<hr>

<h3>sl-drop-button Properties</h3>

<div class="list-group">
    {{#property-text name="content" type="array" required=true}}
        Array of objects representing the dropdown items. Each object can have the following properties:
        <ul>
            <li><strong>action</strong> - String for the name of the controller's action to call when option is clicked.</li>
            <li><strong>label</strong> - Text label for the option; if omitted, the option will become a divider</li>
        </ul>
    {{/property-text}}

    {{#property-text name="label" type="string"}}
        Text label for button text.
    {{/property-text}}

    {{#property-text name="size" type="string"}}
        Suffix string for the Bootstrap button size; "xs", "sm", or "lg".
    {{/property-text}}

    {{#property-text name="theme" type="string" default="\"default\""}}
        The theme style string to use for the button; "default" or "hover".
    {{/property-text}}
</div>

<hr>

<h3>sl-drop-option Properties</h3>

<div class="list-group">
    {{#property-text name="action" type="string"}}
        Action to fire when the option is clicked.
    {{/property-text}}

    {{#property-text name="label" type="string"}}
        Text label for the option in the menu. If this property is omitted, the option becomes a divider.
    {{/property-text}}
</div>
