<h2>Sl-Progress-Bar</h2>
<p class="lead">Component for integer-based progress bar.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-progress-bar label=true value=60}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-progress-bar label=true value=60}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-progress-bar label=true theme="success" value=40}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-progress-bar label=true theme="success" value=40}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-progress-bar striped=true theme="warning" value=70}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{sl-progress-bar striped=true theme="warning" value=70}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{sl-progress-bar
    animated=true
    label=true
    striped=true
    theme="danger"
    value=90
}}</pre></div>

<div class="col-lg-6">
    <h6>Rendered Component</h6>
        {{sl-progress-bar
            animated=true
            label=true
            striped=true
            theme="danger"
            value=90
        }}
    </div>
</div>

<hr>

<h3>Properties</h3>

<div class="group-list">
    {{#property-text name="animated" type="boolean" default="false" requires="striped=true"}}
        When true, the striped progress bar will be animated.
    {{/property-text}}

    {{#property-text name="label" type="boolean" default="false"}}
        When true, label text is shown over the bar.
    {{/property-text}}

    {{#property-text name="popover" type="String" requires="title"}}
        Popover content text.
    {{/property-text}}

    {{#property-text name="striped" type="boolean" default="false"}}
        When true, the progress bar will be striped.
    {{/property-text}}

    {{#property-text name="theme" type="string" default="\"default\""}}
        The Bootstrap contextual theme string to style the progress bar with.
    {{/property-text}}

    {{#property-text name="title" type="String"}}
        Tooltip content text, or popover title text when <code>popover</code> property is set.
    {{/property-text}}

    {{#property-text name="value" type="number"}}
        The bound integer value for the progress (1-100).
    {{/property-text}}
</div>
