<h2>sl-radio-group</h2>
<p class="lead">A component that contains a group of "radio" type inputs. See <a href="http://getbootstrap.com/css/#forms-controls">Bootstrap - Supported controls</a>.</p>

<p>The <em>sl-radio-group</em> component wraps a number of <em>sl-radio</em> components. See {{#link-to "sl-radio"}}sl-radio{{/link-to}} for radio-specific options.</p>

<hr>

<h3>Example</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-radio-group
    label="Color selection"
    name="colorRadio"
    value=currentColor
}}
    \{{sl-radio label="Red" value="red"}}
    \{{sl-radio label="Green" value="green"}}
    \{{sl-radio label="Blue" value="blue"}}
    \{{sl-radio label="Splorge" disabled=true}}
\{{/sl-radio-group}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-radio-group
            label="Color selection"
            name="colorRadio"
            value=currentColor
        }}
            {{sl-radio label="Red" value="red"}}
            {{sl-radio label="Green" value="green"}}
            {{sl-radio label="Blue" value="blue"}}
            {{sl-radio label="Splorge" disabled=true}}
        {{/sl-radio-group}}

        <h4>Current color: {{currentColor}}</h4>
    </div>
</div>

<hr>

<h3>Mixins used</h3>

<div class="list-group">
    <div class="list-group-item">
        <p>sl-input-based</p>
        <p>sl-tooltip-enabled</p>
    </div>
</div>

<hr>

<h3>sl-radio-group Properties</h3>

<div class="list-group">
    {{#property-text name="disabled" type="boolean" default="false"}}
        When true, all child radio inputs will be disabled. Note that this property overrides all child <em>sl-radio</em>s' <code>disabled</code> values.
    {{/property-text}}

    {{#property-text name="inline" type="boolean" default="false"}}
        Display the radio inputs inline with each other.
    {{/property-text}}

    {{#property-text name="label" type="string"}}
        Text label for radio group as a whole.
    {{/property-text}}

    {{#property-text name="name" type="string"}}
        Shared <code>name</code> attribute for the radio inputs. Note that this property will overwrite all child <em>sl-radio</em>s' <code>name</code> values.
    {{/property-text}}

    {{#property-text name="optional" type="boolean" default="false"}}
        When true, the component is styled to reflect optional status.  This styling will only be in effect if the <code>label</code> property has also been set.
    {{/property-text}}

    {{#property-text name="readonly" type="boolean" default="false"}}
        Shared <code>readonly</code> attribute value for the child radio inputs.
    {{/property-text}}

    {{#property-text name="required" type="boolean" default="false"}}
        When true, the component is styled to reflect required status.  This styling will only be in effect if the <code>label</code> property has also been set.
    {{/property-text}}

    {{#property-text name="value" type="mixed"}}
        Bound value for the radiogroup component.
    {{/property-text}}
</div>
