<h2>sl-tab-panel</h2>
<p class="lead">A component with selectable tabs and related tab panes. Based on <a href="http://getbootstrap.com/javascript/#tabs">Bootstrap - Togglable tabs</a>.</p>

<hr>

<h3>Examples</h3>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-tab-panel}}
    \{{#sl-tab-pane label="One" name="one"}}
        \{{render "tabs/one"}}
    \{{/sl-tab-pane}}

    \{{#sl-tab-pane label="Two" name="two"}}
        \{{render "tabs/two"}}
    \{{/sl-tab-pane}}

    \{{#sl-tab-pane label="Three" name="three"}}
        \{{render "tabs/three"}}
    \{{/sl-tab-pane}}
\{{/sl-tab-panel}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-tab-panel}}
            {{#sl-tab-pane label="One" name="one"}}
                {{render "tabs/one"}}
            {{/sl-tab-pane}}

            {{#sl-tab-pane label="Two" name="two"}}
                {{render "tabs/two"}}
            {{/sl-tab-pane}}

            {{#sl-tab-pane label="Three" name="three"}}
                {{render "tabs/three"}}
            {{/sl-tab-pane}}
        {{/sl-tab-panel}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <h6>Template</h6>
        <pre>\{{#sl-tab-panel alignTabs="right" collapsible=true}}
    \{{#sl-tab-pane label="Test" name="test"}}
        &lt;p&gt;Uncollapsed pane!&lt;/p&gt;
    \{{/sl-tab-pane}}
\{{/sl-tab-panel}}</pre>
    </div>

    <div class="col-lg-6">
        <h6>Rendered Component</h6>
        {{#sl-tab-panel alignTabs="right" collapsible=true}}
            {{#sl-tab-pane label="Test" name="test"}}
                <p>Uncollapsed pane!</p>
            {{/sl-tab-pane}}
        {{/sl-tab-panel}}
    </div>
</div>

<hr>

<h3>Sl-Tab-Panel Properties</h3>

<div class="list-group">
    {{#property-text name="activeTabName" type="string"}}
        Name of the initial active tab.
    {{/property-text}}

    {{#property-text name="alignTabs" type="string" default="\"left\""}}
        How to align the tabs, "left" or "right".
    {{/property-text}}

    {{#property-text name="collapsible" type="boolean" default="false"}}
        When true, an open tab can be clicked again to close it, so that all tabs and panes are un-selected. If set to false, and no <code>activeTabName</code> is given, then the first tab will be opened on initialization.
    {{/property-text}}
</div>

<hr>

<h3>Sl-Tab-Pane Properties</h3>

<ul class="list-group">
    {{#property-text name="label" type="string" required=true}}
        The text label for the tab pane's tab.
    {{/property-text}}

    {{#property-text name="name" type="string" required=true}}
        The text name of the tab, used only internally to the pane's parent
        tab-panel.
    {{/property-text}}
</ul>
