<table class="sl-grid table table-striped">
    <thead>
        <tr>
            {{#each column in columns}}
                {{#unless column.hidden}}
                    {{sl-grid-table-header 
                        action="sortColumn" 
                        column=column
                        columns=columns
                        disabled=isLoading 
                        totalWidthHints=totalWidthHints
                        totalFixedWidths=totalFixedWidths
                        cssThClass=column.cssThClass }} 
                {{/unless}}
            {{/each}}
        </tr>
    </thead>
    <tbody>
    {{#if isLoading}}
        <tr>
            <td {{bind-attr colspan=columnCount class=":shadow-mask"}}>&nbsp;
            </td>
        </tr>
    {{else}}
        {{#each row in controller}}
            <tr>
                {{#each column in columns}}
                    {{#unless column.hidden}}
                       {{render-component column.component cssClass=column.cssClass column=column row=row}}
                    {{/unless}}
                {{/each}}
            </tr>
            {{#if options.rowExpander}}
                {{#if row.rowExpanderIsOpen}}
                    {{#sl-grid-table-row-expander row=row columnCount=columnCount}}
                        {{render-component row.rowExpanderComponent options=options data=row}}
                    {{/sl-grid-table-row-expander}}
                {{/if}}
            {{/if}}
        {{else}}
            <tr>
                <td colspan="3">No data found</td>
            </tr>
        {{/each}}
    {{/if}}
    </tbody>
</table>
